/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
@font-face {
  font-display: swap;
  font-family: 'PressStart2P';
  font-style: normal;
  font-weight: 400;
  src:
  local('PressStart2P-Regular'),
  url('../fonts/PressStart2P.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: Inter;
  src: 
  local('Inter'),
  url('./Inter-Variable.woff2') format('woff2 supports variations'),
  url('./Inter-Variable.woff2') format('woff2-variations');
  font-weight: 400 785;
  font-variation-settings: "wght" 400 785;
}