/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes like-scale-up {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.25);
  }
}

@keyframes sparks-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear 0s;
}

.like-icon:hover .core {
  fill: var(--heart-contour-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:hover .main-body {
  fill: var(--heart-contour-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--heart-main-color);
  transition: fill 0.3s linear 0s;
}

.like-icon:active .main-body {
  fill: var(--heart-main-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  transition: fill 0.3s linear 0s;
  fill: var(--heart-main-color);
}

.like-icon.is-liked .main-body {
  transition: fill 0.3s linear 0.05s;
  fill: var(--heart-main-color);
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: like-scale-up 0.3s ease-in 0.1s 1;
}

.contour {
  fill: var(--heart-contour-color);
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  transition: fill 0.3s linear 0.06s;
  fill: var(--heart-main-color);
  transform-origin: center;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: sparks-fade-in 0.3s ease-in 0.3s 1;
}


