@keyframes heart-bounce {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.25);
    }
}

@keyframes blink {
    0% {
        fill: transparent;
    }

    100% {
        fill: var(--liked-contour-fill-color);
    }
}